default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_authorisation\Behat\FeatureContext
        - Drupal\Tests\oe_authorisation\Behat\SyncopeContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              administration: 'admin'
              site configuration: 'admin/config'
              content administration: 'admin/content'
              user administration: 'admin/people'
              site building administration: 'admin/structure'
              content creation: 'node/add'
              role creation: 'admin/people/roles/add'
              role administration: 'admin/people/roles'
              permissions: 'admin/people/permissions'
              user account creation: 'admin/people/create'
              recent log messages: 'admin/reports/dblog'
              modules administration: 'admin/modules'
              site appearance administration: 'admin/appearance'
              user account settings: 'admin/config/people/accounts'
              block layout administration: 'admin/structure/block'
              content type creation: 'admin/structure/types/add'
              content types administration: 'admin/structure/types'
              site status: 'admin/reports/status'
              user account: 'user'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
  formatters:
    progress: ~
